.projects-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 20vw);
  grid-template-rows: 40vh 40vh;
  grid-gap: 1em;
}

.centering {
  display: flex;
  align-items: center;
  flex-direction: column;
}
